$ancent-color: #4C6FFF;
$primary-color: #5865F2;
$heading-color: #16274a;
$background-color: #f9f9f9;
$primary-color-light: #7D7DD7;
$secondary-color: #cbcbfa;
$secondary-color-light: #e1e1fb;

$btn-bg-color: #1ca74f;
$btn-border-color: #11883d;

$text-white: #FFFFFF;

$grey: #666;
$light-grey: #ccc;
$mid-light-grey: #999;