.flowContainer {
    border: 1px solid black;
}

.toolbarContainer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .toolbarItems {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}