@use "src/shared/styles/variables" as vars;

.nodeWrapper {
    cursor: grab;
    display: flex;
    font-size: 12px;
    padding: 4px 16px;
    border-radius: 4px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: vars.$background-color;
    border: 1px solid vars.$ancent-color;

    .nodelabel {
        font-weight: 500;
        color: vars.$primary-color;
    }
}
