@use "src/shared/styles/variables" as vars;

.nodeContainer {
    padding: 4px;
    display: flex;
    font-size: 12px;
    border-radius: 8px;
    box-sizing: border-box;
    flex-direction: column;
    font-family: Arial, sans-serif;
    justify-content: space-between;
    border: 2px solid vars.$secondary-color-light;
}

.nodeWrapper {
    .title {
        padding: 8px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 6px 6px 0 0;
        background-color: vars.$secondary-color-light;
    }
    
    .description {
        padding: 8px;
        font-size: 10px;
        color: vars.$grey;
        margin-bottom: 4px;
        border-top: 1px solid vars.$secondary-color;
        background-color: vars.$secondary-color-light;
    }

    .fieldWrapper {
        gap: '4px';
        margin-top: 4px;
        display: 'flex';
        flex-direction: 'column';

        .fieldContainer {
            margin-bottom: 4px;

            .label {
                display: block;
                margin-bottom: 2px;
                color: vars.$heading-color;
            }

            .fieldText {
                position: relative;
            }

            .field {
                width: 100%;
                padding: 4px;
                border-radius: 4px;
                box-sizing: border-box;
                border: 1px solid vars.$light-grey;
            }
        }
    }
}