@use "src/shared/styles/variables" as vars;

.suggestionList {
    left: 6;
    top: 100%;
    width: 94%;
    z-index: 1000;
    padding: 0 4px;
    overflow: auto;
    max-height: 160;
    position: absolute;
    border-radius: 4px;
    background: vars.$text-white;
    border: 1px solid vars.$light-grey;

    .suggestionItem {
        cursor: pointer;
        padding: 12px 4px;

        &:not(:last-child) {
            border-bottom: 1px solid vars.$light-grey;
        }
    }
}